/* top bar */

header {
  background-image: linear-gradient(to right, #0c755c, #095745);
  position: fixed;
  top: 0;
  left: 0;
  width: min(100%, 90vw);
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header img {
  width: 30px;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header a {
  text-decoration: none;
  color: #ffffff;
}

.banner button {
  all: unset;
  border: 1px solid #afaeae55;
  padding: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #eee1, transparent, #eee1);
  cursor: pointer;
  transition: 0.5s;
}
.banner button:hover {
  background-color: #3f932c;
  color: #ffffff;
  box-shadow: 0 0 50px #3f932c;
}
h1 {
  font-size: 4em;
  font-weight: bold;
  background-image: linear-gradient(to left, #3f932c, #90ff17);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  line-height: 1em;
}

/* Navegação */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
}
.nav.prev {
  left: 10%;
}
.nav.next {
  right: 10%;
}

:root {
  --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(50%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;

  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}
header {
  padding: 10px;
  width: 1140px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 50px;
  align-items: center;
}
header .logo {
  font-weight: bold;
}

/* Banner */
main .banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: -70px;
}

.ulFromTopBar li a {
  color: red;
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

.banner h1,
.banner {
  font-family: "Funnel Sans", sans-serif;
}

.title {
  height: 50px;
  display: flex;
  align-items: center;
}

.title_Name {
  font-size: 50px;
  color: #e0e0e0;
  font-family: "Figtree", sans-serif;
}

.second_title_name {
  font-size: 30px;
  padding-left: 40px;
  margin-top: 10px;
}

.third_title_name {
  padding-left: 42px;
  margin-top: 10px;
  font-size: 16px;
  color: #ffd700;
  font-family: "Josefin Sans", sans-serif;
}
#videos {
  padding-top: 30px;
}
